@import "./variables";
/* ESTILOS CARTA MOBILE */

.container_carta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "Nav_bar"
        "icons"
        "carta_s1"
        "carta_s2"
        "carta_s3"
        "carta_s4"
        "carta_s5"
        "carta_s6"
        "menu_move"
        "footer";
}

.Nav_bar {
    grid-area: Nav_bar;
}

.carta_s1 {
    grid-area: carta_s1;
    padding-top: $p-t-35;
}

.carta_s2 {
    grid-area: carta_s2;
    padding-top: $p-t-35;
}

.carta_s3 {
    grid-area: carta_s3;
    padding-top: $p-t-35;
}

.carta_s4 {
    grid-area: carta_s4;
    padding-top: $p-t-35;
}

.carta_s5 {
    grid-area: carta_s5;
    padding-top: $p-t-35;
}

.carta_s6 {
    grid-area: carta_s6;
    padding-top: $p-t-35;
}

.footer {
    grid-area: footer;
}

/* Botones flotantes */
.menu_move {
    grid-area: icons;
    position: sticky;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.503);;
}
.icon_nav {
    font-size: 35px;
}
/* TEXT STYLE CARTA */
h2{
    font-size: $font-size-4;
    font-family: $fuente_primaria;
}
h4 {
    font-family: $fuente_primaria;
    font-size: $font-size-3;
}

h5 {
    font-size: $font-size-2;
    padding: $p-10;
    margin: $m-10;
    border-left: solid 10px;
    border-color: $color_borde_aviso;
    background-color: $color_bg_aviso;
}

.bg_shadow {
    @include box-style-c;
}

.grid_area1,
.grid_area2,
.grid_area3,
#grid_container {
    width: 99vw;
}
.text_menu_title{
    color: $blanco;
    text-align: $t-center;
}
.text_menu {
    font-size:$font-size-1 ;
    font-family: $fuente_secundaria;
    text-align: $t-center;
    color: $blanco;
    margin: $m-15;
    text-decoration: none;
    list-style: none;
}

.info_detail {
    margin-top: -$m-15;
    color: $color_detail;
}
section#C_1,
section#C_2,
section#C_3,
section#C_4,
section#C_5,
section#C_6 {
        @include box-bg-c;
        @include flexible(column, normal, normal)
}
.empanada{
    @include flexible(column, center, space-around);
    li {
        margin-bottom: 20px;
    }
}
.tittle_empanada{
    margin-bottom: 50px;
}
@media (min-width: 1000px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

/* CARTA DESKTOP */
@media (min-width: 1030px) {
    .div_empa2 {
        grid-area: div_empa2;
    }

    .div_empa3 {
        grid-area: div_empa3;
    }

    .div_empa1 {
        grid-area: div_empa1;
    }

    .grid_empanada {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        grid-template-areas:
            "div_empa1 div_empa1"
            "div_empa2 div_empa3";
    }
    .h4_carnes {
        grid-area: h4_carnes;
    }
    .div_carnes1 {
        grid-area: div_carnes1;
    }
    .div_carnes2 {
        grid-area: div_carnes2;
    }
    .div_pastas1 {
        grid-area: div_pastas1;
    }
    .div_pastas2 {
        grid-area: div_pastas2;
    }
    .tittle_pasta {
        grid-area: tittle_pasta;
    }
    .tittle_pasta1{
        grid-area: tittle_pasta1;
    }
    .grid_carnes{
        grid-area: carnes;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr 0fr;
        grid-template-areas:
            "h4_carnes h4_carnes"
            "div_carnes1 div_carnes2"
            "tittle_pasta tittle_pasta"
            "tittle_pasta1  tittle_pasta1"
            "div_pastas1 div_pastas2";
    }
    .div_postres1{
        grid-area: div_postres1;
    }
    .div_postres2{
        grid-area: div_postres2;
    }
    .tittle_postres{
        grid-area: tittle_postres;
    }
    .grid_postres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        grid-template-areas: 
        "tittle_postres tittle_postres"
        "div_postres1 div_postres2";
    }

    #header {
        grid-area: header;
    }

    .menu_move {
        display: none;
    }

    .container_carta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0fr 0.5fr 0.5fr 0fr;
        grid-template-areas:
            "header header header header"
            "carta_s1 carta_s1 carta_s3 carta_s3"
            "carta_s2 carta_s6 carta_s5 carta_s5"
            "footer footer footer footer";
        
    }

    
    
}

