@import "./variables";
/* Formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    @include box-style
}
.form{
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: $blanco;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    @include flexible (column,center,center);
    background-color: #3e8e41;
}