@import "./variables";

.grid-contacto {
    width: 98vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr; 
    grid-template-areas: 
    "contacto"
    "reserva-contacto"
    "horarios"
    "div_where-contacto"
    "footer";
}
.contacto,.div_where-contacto,.horarios_contacto,.div_reserva-contacto {
    max-width: auto;
    margin: $m-15;
}

.contacto {
    grid-area: contacto;
}
.horarios_contacto{
    grid-area: horarios;
    margin: $m-15;

}
.div_reserva-contacto{
    grid-area: reserva-contacto;
    margin: $m-15;
}
.div_where-contacto{
    grid-area: div_where-contacto;
    margin: $m-15;
}
/* Formulario */

.form_contacto{
    grid-area: form;
    margin: $m-10;
    padding: $p-10;
    background-color: #f2f2f2;
    @include box-style;
    @include flexible (column,normal,normal);
}
h2 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
    font-size: 16px;
}

textarea {
    height: 100px;
}
.submit{
    display: block;
    align-self: end;
}
button[type="submit"] {
    background-color: #4caf50;
    color: $blanco;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    @include flexible (column,center,center);
    background-color: #3e8e41;
}
@media (min-width: 1030px) {
    .div_reserva-contacto{
        width: 50vw;
    }  
    .grid-contacto {
        width: 100vw;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr, 1fr ;
        grid-template-areas: 
        "contacto reserva-contacto"
        "horarios div_where-contacto"
        "footer footer";
    }
    
}