@import "./variables";
// GRID SUGERENCIAS
.grid_sugerencias{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr , 1fr, 1fr, 1fr;
    grid-template-areas: 
    "sugerencias accordion"
    "comments comments"
    "reviews reviews"
    "footer footer"
    ;
}
.header_s{
    grid-area: header_s ;
}
.form_sugerencias{
    margin: 15px;
    width: 48vw;
    grid-area: sugerencias;
}
.accordion{
    border-radius: 25px;
    --bs-accordion-bg: rgb(255, 255, 255);
    --bs-accordion-border-color: rgb(0, 0, 0);
    --bs-accordion-btn-focus-box-shadow:rgba(255, 255, 255, 0);
    grid-area: accordion;
    width: 48vw;
}
.accordion-button{
    font-size: 1.5rem;
}
.accordion-item{
    border-radius: 25px;
    margin: 15px;
}

/* STYLE SUGERENCIAS */
/* Formulario */
.d-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_1 {
    margin: 15px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
.footer_sugerencias{
    bottom: 0;
    width: 100vw;
}
.reviews {
    @include flexible(row, center ,center);
    grid-area: reviews;
    position: relative;
    margin-left: 35px;
    div img {
        border-radius: 25px;
        width: 85%;
    }
}
.comments{
    align-items: center;;
    grid-area: comments;
}
@media (max-width: 1030px) { 
    .grid_sugerencias{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        justify-items: center;
        grid-template-areas:
        "header_s" 
        "sugerencias"
        "accordion"
        "comments"
        "reviews"
        "footer"
        ;
    }
    .comments, .reviews{
        display: none;
    }
    .form_sugerencias,.accordion{
        width: 80vw;
    }
    
}
