* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/floor-1256804_1280.jpg);
}

/* INDEX MOBILE FIRST */
/* Layout */
#grid_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "text_intro"
        "div_img"
        "section_1"
        "section_2"
        "section_3";
}

.grid_area_1 {
    grid-area: section_1;
}

.grid_area_2 {
    grid-area: section_2;
}

.grid_area_3 {
    grid-area: section_3;
}
.div_text_intro {
    grid-area: text_intro;
}
.div_img {
    grid-area: div_img;
}
.div_img1 {
    grid-area: div_img;
    display: none;
}
.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_h1{
    grid-area: div_h1;
}
.div_text_intro {
    grid-area: text_intro;
}
.grid_area_time {
    grid-area: div_time;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Navbar */
.Nav_bar {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(0, 0, 0) 50%, #f25a3884 100%);
}

.navbar-toggler {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgb(0, 0, 0) 50%, #f25a38a7 100%);
    border: 1px solid #ffffff;
}

.nav-link {
    text-align: center;
    color: #f2bb16;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 600;
}

.nav-link:hover {
    color: #f25a38;
    scale: 1.1;
    transition: 0.2s;
    text-decoration: underline;
}

.icon_wasap {
    height: 25px;
    width: 25px;
}

a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo_container {
    width: 100%;
    height: 100px;
    border-radius: 50px;
}

/* Text style */
p {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
}
h1{
    font-family: "Seaweed Script", Sans-serif;
    margin: 15px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px hsla(0, 0%, 0%, 0.5);
}
h3 {
    background-color: white;
    border-radius: 25px;
    margin: 15px;
    font-family: "Seaweed Script", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

ul {
    padding-left: 0;
}

.list_time {
    background-color: white;
    border-radius: 25px;
    margin: 10px;

    li {
        font-family: Sans-serif;
        text-align: center;
        font-size: 25px;
        margin: 10px;
        list-style: none;
    }
}
.img_style{
    box-shadow: 10px 10px #0000008f;
    border-radius: 15px;
}
.intro_text {
    color: black;
    font-family: Sans-serif;
    text-align: center;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}

/* Reserva */
.div_reserva {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px hsla(0, 0%, 0%, 0.5);
    border-radius: 25px;
    margin: 15px;

    p {
        font-family:"Saira Semi Condensed", Sans-serif;
        font-size: 22px;
        text-align: center;
    }
    div {
        a {
            background-color: rgb(144, 238, 144);
            border: 5px solid green;
            border-radius: 10px;
            margin: 10px;
            font-size: 45px;
            font-weight: bold;
            font-family: "Saira Semi Condensed", Sans-serif;
            text-decoration: none;
        }
    }
}
.img_brindis {
    width: 100vw;
}
.boton_reserva:hover {
    scale: 1.2;
    transition: 1s;
}

.logo_reserva {
    height: 45px;
    width: 45px;
}

/* Mapa */

.div_where {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: div_where;

    .h3_where {
        font-family: "Seaweed Script", Sans-serif;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }

    .div_map {
        padding: 20px;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
    }
}

/* Footer */

footer {
    background-color: black;
    grid-area: footer;
    margin-top: 15px;

    div {
        display: flex;
        justify-content: center;

        h6 {
            color: rgba(255, 255, 255, 0.607);
        }
    }
}

.social_icon {
    margin: 15px;
    height: 45px;
}
.div_img {
    margin: 15px;
    justify-content: center;
    align-items: center;
    grid-area: div_img;
}

.div_img1 {
    margin: 15px;
justify-content: center;
align-items: center;
    grid-area: div_img1;
}
/* RESPONSIVE INDEX DESKTOP */

@media (min-width: 1200px) {



    .grid_area_2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        column-gap: 10px;
        row-gap: 15px;
        margin: 15px;
        grid-template-areas:
            "div_h1 div_h1 div_h1"
            "div_img text_intro div_img1"
            "div_time div_reserva div_where";
    }
}