/* INDEX MOBILE FIRST */
/* Layout */
#grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "section_1"
        "section_2"
        "section_3";
}

.grid_area1 {
    grid-area: section_1;
}

.grid_area2 {
    grid-area: section_2;
}

.grid_area3 {
    grid-area: section_3;
}

/* Ubicacion mapa */
.map_place {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: map;
}

.mapa {
    justify-content: center;
}

/* Navbar */

.nav-link {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 600;
}

.icon_wasap {
    height: 25px;
    width: 25px;
}

a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.logo_container {
    width: 300px;
    border-radius: 50px;
}

/* Style text */
p {
    background-color: white;
    border-radius: 25px;
}

div.horarios h3 {
    font-family: "Seaweed Script", Sans-serif;
    background-color: white;
    border-radius: 25px;
    margin: 30px;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

ul.list_time li {
    background-color: white;
    border-radius: 25px;
    font-family: Sans-serif;
    text-align: center;
    list-style: none;
    margin: 10px;
    font-size: 1.8rem;
    font-weight: 400;
}

ul {
    padding-left: 0;
}

/* Reserva */
div.escribenos {
    display: flex;
    direction: row;
    justify-items: stretch;
    background-color: white;
    border-radius: 25px;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Boton reserva */
div.escribenos div a {
    display: flex;
    justify-content: center;
    background-color: rgb(144, 238, 144);
    border: 5px solid green;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    margin: 30px;
    font-size: 45px;
    font-weight: bold;
    font-family: "Saira Semi Condensed", Sans-serif;
    text-decoration: none;
}

div.escribenos p {
    font-family: "Seaweed Script", Sans-serif;
    font-size: 45px;
    text-align: center;
}

/* Contenedor img wsp reserva */
img.logo_reserva {
    margin-top: 14px;
    height: 45px;
    width: 45px;
}

/* Mapa */
h3.place {
    font-family: "Seaweed Script", Sans-serif;
    font-size: 35px;
    background-color: white;
    border-radius: 25px;
    font-weight: 400;
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    grid-area: footer;
    margin-top: 15px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer div h6 {
    color: rgba(255, 255, 255, 0.607);
}

.sn_icon {
    margin: 15px;
    height: 45px;
}

/* RESPONSIVE INDEX DESKTOP */

@media (min-width: 1030px) {
    .horarios {
        grid-area: horarios;
    }

    .escribenos {
        grid-area: escribenos;
    }

    .grid_area2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "horarios map"
            "escribenos map";
    }
}